node_modules/
lib/
*_config.js
downloads/
state.json
report/
.nyc_output/
**/my_scripts
parsed_requests/
# **/*_dataFiles
snelson_dataFiles/
**/*_unpackedFiles
.DS_Store

canvas_data_importer/
**/schema.json
